/*

- Pale orange: hsl(25, 100%, 94%)

- Very dark blue: hsl(220, 13%, 13%)
- Grayish blue: hsl(220, 14%, 75%)
- Light grayish blue: hsl(223, 64%, 98%)
- White: hsl(0, 0%, 100%)
- Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --pomarancz:hsl(26, 100%, 55%);
    --ciemno-szary:hsl(219, 9%, 45%);
    --ciemno-niebieski: hsl(220, 13%, 13%);
    --cien-maly: 0px 6px 6px #efefef;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    flex-wrap: wrap;
    /* padding: 15px; */
    padding-top: 30px;
    padding-bottom: 30px;
}

.loginav {
    margin-left: 150px;
}

.navigacja {
    display: inline-flex;
    gap: 1.5rem;
    list-style: none;
    color: hsl(220, 14%, 75%);
    margin-left: 50px;
    flex-wrap: wrap;
}

.ikony {
    display: inline-flex;
    gap: 1.5rem;
    list-style: none;
    align-items: center ;
    gap: 40px;
    flex-wrap: wrap;
}

.avatar {
    margin-right: 150px;
    height: 40px;
}

.koszyk {
    height: 20px;
}

.linia {
    width: 1100px;
    margin-left: 150px;
    background-color: hsl(219, 9%, 45%);
}

/* h1 {
    color: var(--pomarancz);
    background-color: var(--ciemno-szary);
    border: 2px solid var(--ciemno-niebieski);

}

h2 {
    background-color: var(--pomarancz);
    color: var(--ciemno-szary);
    box-shadow: var(--cien-maly)
} */